
.card-footer{
	background-color: white;
}
.form-checkbox {
	margin:5px;
}
/*Profile update foto*/


/*Modal Page*/
/*
.modal-confirm {
	color:white;
	width: 400px;
}

.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
	
}

.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}

.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}

.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}

.modal-confirm .modal-body {
	color: #999;
}

.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
	color: white;
}
*/

.content-header{
	padding:0;
	padding-top: 15;
}


/*switch*/
/*background*/
.switch {
  position:relative;
  width:30px;
  height:10px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, red, red);
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #353535, 0 0 0 1.25px #3e3e3e, inset 0 0 2.5px rgba(0,0,0,1);
}

.switch:checked {
  background: linear-gradient(0deg, green, green);
  box-shadow: 0 0 0 1px #353535, 0 0 0 1.25px #3e3e3e, inset 0 0 2.5px rgba(0,0,0,1);
}

/*toggle*/
.switch:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:20px;
  height:10px;
  background: linear-gradient(0deg, white, #6b6b6b);
  border-radius: 5px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(.98,.96);
  transition:.5s;
}

.switch:checked:before {
  left:10px;
}

.switch:after{
  content:'';
  position:absolute;
  top:calc(50% - 2px);
  left:18px;
  width:1px;
  height:1px;
  background: linear-gradient(0deg, #6b6b6b, white);
  border-radius: 50%;
  transition:.5s;
}

.switch:checked:after {
  left:25px;
}

/*table*/
#table > tbody > tr > td{
	vertical-align: middle;
}

/*Step Form*/
#step-2,#step-3,#step-4,#step-5{
	display: none;
}

/*Category Step*/
#sub1,#sub2,#sub3,#sub4,#sub5,#category{
	display: none;
}

/*Category Select-Element*/
.custom-select{
	font-size: 18px;
}
.custom-select:focus option:checked {
}

.form-right{
	display: block;
    text-align: right;
}

#toplam{
	font-size: 20px;
}