/*SIDEBAR*/
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
}

.menu .item {
    overflow: hidden;
}

.menu .item .btn {
    display: block;
    padding: 6px 20px;
    background: #4fbfa8;
    color: white;
    position: relative;
}

.menu .item .btn:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #4fbfa8;
    left: 15px;
    bottom: -6px;
    transform: rotate(45deg);
}

.menu .item .btn i {
    margin-right: 10px;
}

.menu .item .smenu {
    background: white;
    overflow: hidden;
}

.menu .item .smenu a {
    display: block;
    padding: 3px 26px;
    color: black;
    font-size: 14px;
    margin: 2px 0;
    position: relative;
}

.menu .item .smenu a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #3d9970;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.menu .item .smenu a:hover:before {
    opacity: 1;
}

.menu .item .smenu .active {
    background: #3d9970;
}

.menu .item:target .smenu {
    max-height: 10em;
}



.category-icon {
    text-align: left;
    position: absolute;
    height: 20px;
    left: 0;
    margin-left: 5px;
}

/*SIDEBAR*/

/*ADVERTS PAGE Single Advert Item*/
.adverts #advert-image {
    width: auto;
    height: 175px;

}

.adverts .card-body {
    padding: 5px;

}

.adverts .card-footer {
    padding: 5px;

}

.login-box {
    display: block;
    margin: auto;
}

.register-box {
    display: block;
    margin: auto;
}

/*ADVERTS PAGE Single Advert Item*/

/*ADVERT DETAILS PAGE*/

/*CAROUSEL*/
.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #F7F7F0;
    height: auto;
    width: 100%;
}

/*UserCard*/
.rating .checked {
    color: orange;
    margin: 0px;
}

.rating .unchecked {
    color: white;
    margin: 0px;
}

.rating .checked-half {
    color: white;
    margin: 0px;
}

/*UserCard*/



/*ADVERT DETAILS PAGE*/

#advert-user-card .info-box{
    height: 40px!important;
    min-height: 40px!important;
    margin-bottom: auto;
}
#advert-user-card .info-box-icon{
    width: 30px!important;
    font-size: 14px!important;
}

#advert-user-card .info-box-content{
    padding: 1px!important;
    padding-left: 10px!important;

}